.imges,
.imgs{
	width: 750rpx;
	height: 900rpx;
}
.priceStr{
	color: red;
	font-size: 23px;
	margin-top: 15rpx;
}
.supplier{
	font-size: 12px;
	color: orange;
	margin-top: 10rpx;
}
.sizeList{
	font-size: 19px;
	margin-top: 30rpx;
}
.salePoint{
	font-size: 12px;
	color: gray;
	margin-top: 10rpx;
}
.jsbox{
	padding: 0 0 0 20rpx;
}
.pjbox_hd{	
	width: 700rpx;
	margin: auto;
	margin-top: 1rpx;
	padding: 0 0 20rpx 0;
}
.tops_img{
	width: 50rpx;
	height: 50rpx;
	border-radius: 50%;
	display: inline-block;
}
.pjrw{
	width: 700rpx;
	margin: auto;
	margin-top: 50rpx;
	border-bottom: 1px solid gray;
}
.userName{
	display: inline-block;
	position: relative;
	top: -10rpx;
	left: 7rpx;
}
.vip{
	display: inline-block;
	font-size: 12px;
	color: orange;
	padding: 2rpx 10rpx;
	background-color: pink;
	position: relative;
	top: -20rpx;
	left: 10rpx;
}
.times{
	font-size: 13px;
	color: gray;
}
.text{
	margin-top: 20rpx;
}
.tls{
	width: 700rpx;
	margin: auto;
	margin-top: 100rpx;
}
.tls_imgt{
	display: inline-block;
	width: 100rpx;
	height: 100rpx;
}
.tls_title{
	display: inline-block;
	height: 100rpx;
	position: relative;
	top: -15rpx;
	font-size: 12px;
	color: gray;
	margin-left: 30rpx;
}
.tls_name{
	font-size: 15px;
	color: black;
}
.hots{
	width: 750rpx;
	height: 370rpx;
	position: relative;
}
.hots_list{
	position: absolute;
	height: 370rpx;
	white-space: nowrap;
}
.hots_list view{
	display: inline-block;
	padding: 1rpx 20rpx ;
	width: 300rpx;
}
.hots_imgs{
	width: 200rpx;
	height: 200rpx;
	margin-left: 20rpx;
	display: block;
}
.hots_list_img{
	height: 370rpx;
}
.hots_priceStr{
	color: orange;
	font-size: 18px;
	margin-left: 30rpx;
	margin-top: 30rpx;
}
.hots_title{
	width: 300rpx;
	overflow: hidden;
	display: block;
	font-size: 13px;
}
.kfs image{
	display: block;
	width: 45rpx;
	height: 45rpx;
	margin-top: 10rpx;
	margin-left: 20rpx;
}
.kfs text{
	font-size: 10px;
	margin-left: 20rpx;
}
.kfs{
	width: 100rpx;
	height: 100rpx;
	border-right: 1px solid gray ;
}
.xuanfu{
	width: 750rpx;
	height: 100rpx;
	position: sticky;
	bottom: 0;
	background-color: white;
}
.xuanfu view{
	float: left;
}
.yys{
	width: 324rpx;
	height: 100rpx;
	text-align: center;
	line-height: 100rpx;
}
.xxs{
	background-color: slateblue;
}