.dhbox{
	width: 700rpx;
	height: 80rpx;
	border-radius: 30rpx;
	margin: 20rpx auto;
	background-color: #f4f4f4;
}
.sou{
	display: inline-block;
	width: 40rpx;
	height: 40rpx;
	padding: 0 20rpx 20rpx 10rpx;
}
.uni-input{
	display: inline-block;
	width: 620rpx;
	height: 80rpx;
	border-radius: 30rpx;
	margin: auto;
	/* background-color: orange; */
}
.banners{
	margin-top: 10rpx;
}
.imgs,
.swiper-item{
	width: 750rpx;
	height: 330rpx;
}
.hots{
	width: 750rpx;
	height: 50rpx;
	position: relative;
}
.hots_list{
	position: absolute;
	height: 50rpx;
	white-space: nowrap;
}
.hots_list span{
	display: inline-block;
	padding: 1rpx 20rpx ;
	font-size: 14px;
}
.hots_imgbox{
	width: 100rpx;
	position: absolute;
	top: 0;
	right: 0;
	background-color: white;
	text-align: center;
}
.hots_img{
	width: 30rpx;
	height: 30rpx;
	margin-top: 10rpx;
}
.list{
	width: 750rpx;
	margin-top: 20rpx;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.list_nr{
	width: 360rpx;
	height: 540rpx;
}
.list_nr image{
	width: 360rpx;
	height: 400rpx;
}
.priceStr{
	font-size: 18px;
	color: orange;
}
.title{
	font-size: 13px;
}
.goods{
	margin-top: 5rpx;
	font-size: 12px;
	color: slategray;
}
.gg{
	width: 750rpx;
	height: 90rpx;
}